<a href="https://colab.research.google.com/github/robertoricci/Curso-Data-Science-com-Python---Banco-MODAL/blob/main/Calculo_20_Empresas_pagadoras_de_Dividendos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install yfinance

In [3]:
import pandas as pd
import yfinance as yf

In [7]:
#Lista de ibovespa,
symbol_list_ibrx = ['RRRP3',
 'ALPA4',
 'ABEV3',
 'AMER3',
 'ASAI3',
 'AZUL4',
 'B3SA3',
 'BIDI11',
 'BPAN4',
 'BBSE3',
 'BRML3',
 'BBDC3',
 'BBDC4',
 'BRAP4',
 'BBAS3',
 'BRKM5',
 'BRFS3',
 'BPAC11',
 'CRFB3',
 'CCRO3',
 'CMIG4',
 'CIEL3',
 'COGN3',
 'CPLE6',
 'CSAN3',
 'CPFE3',
 'CMIN3',
 'CVCB3',
 'CYRE3',
 'DXCO3',
 'ECOR3',
 'ELET3',
 'ELET6',
 'EMBR3',
 'ENBR3',
 'ENGI11',
 'ENEV3',
 'EGIE3',
 'EQTL3',
 'EZTC3',
 'FLRY3',
 'GGBR4',
 'GOAU4',
 'GOLL4',
 'NTCO3',
 'SOMA3',
 'HAPV3',
 'HYPE3',
 'IGTI11',
 'IRBR3',
 'ITSA4',
 'ITUB4',
 'JBSS3',
 'KLBN11',
 'LIGT3',
 'RENT3',
 'LCAM3',
 'LWSA3',
 'AMAR3',
 'LREN3',
 'MGLU3',
 'MRFG3',
 'CASH3',
 'BEEF3',
 'MOVI3',
 'MRVE3',
 'MULT3',
 'PCAR3',
 'PETR3',
 'PETR4',
 'PRIO3',
 'PETZ3',
 'PSSA3',
 'POSI3',
 'QUAL3',
 'RADL3',
 'RDOR3',
 'RAIL3',
 'SBSP3',
 'SANB11',
 'STBP3',
 'CSNA3',
 'SLCE3',
 'SULA11',
 'SUZB3',
 'TAEE11',
 'VIVT3',
 'TIMS3',
 'TOTS3',
 'UGPA3',
 'USIM5',
 'VALE3',
 'VIIA3',
 'VBBR3',
 'WEGE3',
 'YDUQ3']

In [99]:
symbol_list_ibrx = ['PETR4','YDUQ3']

In [16]:
df_scan = pd.DataFrame()
for ativo in symbol_list_ibrx:

    df2 =pd.DataFrame()
    chamada_api = yf.Ticker(ativo+'.SA')

    #pegar dados de 12 meses
    closes = chamada_api.history(period='12mo')['Close'].values
    dividendos = chamada_api.history(period='12mo')['Dividends'].values
    datas = list(chamada_api.history(period='12mo').index)
    

    df2['Closes'] = closes
    df2['Dividendos'] = dividendos
    df2['Datas'] = datas
    df2 = df2.set_index('Datas',drop = True)

    soma_dividendos = 0

    for k,v in df2.iterrows():
       #somas 
        #if k.year == 2021 or k.year == 2022:
        soma_dividendos += v['Dividendos']
                       #dividendos no ultimo ano    pegando o valor do ultimo fechamento
                       #caso queira para mais de e so dividir para qtd de ano
    dividend_yield = ((soma_dividendos/1) / df2['Closes'].values[-1] ) * 100

    ##df_scan[ativo] =  [dividend_yield]
    ##df_scan2[ativo] = [soma_dividendos]

    df_scan[ativo] = dividend_yield,soma_dividendos
#order pelo maior dividindo 
df_scan = df_scan.transpose().sort_values(by = 0,ascending=False)[:20]
#renomear colunas atualizando o dataframe 
df_scan.rename(columns = {0:'% DIV YIELD',1:'SOMA DIV Periodo' }, inplace= True)

In [17]:
#20 empresa que mais pagaram dividendos no ano selecionado
df_scan

        % DIV YIELD  SOMA DIV Periodo
PETR4     39.487473         11.546137
PETR3     35.658235         11.546137
MRFG3     35.002907          5.057920
BRAP4     33.023809          9.197131
BRKM5     25.978478         10.931744
GOAU4     22.100457          2.420000
USIM5     20.166982          1.917880
CPFE3     17.691401          5.441875
CMIN3     17.386349          0.876272
VALE3     17.261582         14.106165
CPLE6     16.950116          1.169558
CMIG4     13.844781          1.491083
GGBR4     12.904484          3.310000
DXCO3     12.506699          1.280686
JBSS3     11.901669          4.001341
ENBR3     10.607674          2.193667
POSI3     10.263680          0.680482
SANB11     9.976862          3.042943
CSNA3      9.832414          1.800315
EGIE3      8.554387          3.465382